<!DOCTYPE html>
<html>
<head>
  <title>Eliminar Cómic</title>
</head>
<body>
  <div class="comic-delete">
  <h2>Eliminar Cómic</h2>
  <p>¿Estás seguro de que deseas eliminar el cómic?</p>
  <form action="{{deleteUrl}}" method="POST" class="form-container">
    <button type="submit">Confirmar Eliminación</button>
    <a href="/comics">Cancelar</a>
  </form>
  </div>
</body>
</html>
