<!DOCTYPE html>
<html>
<head>
  <title>ComicSensitive</title>
  <link rel="stylesheet" href="http://localhost:3001/app.css"> <!-- Cambia la URL según tu configuración -->
</head>
<body>
  <div>
    <main class="holder">
      <div class="homeimg">
        <img src="{{ imageUrl }}" alt="Superheroes">
      </div>
      <div class="columnas">
        <div class="bienvenidos">
          <h2>Bienvenidos a ComicSensitive</h2>
          <p>
            Descubre un mundo fascinante de cómics y novelas gráficas en ComicSensitive. Sumérgete en historias emocionantes,
            personajes únicos y un universo de creatividad que te espera en cada página.
          </p>
          <p>
            Explora una amplia selección de series y disfruta de aventuras que te transportarán a lugares increíbles y te
            harán vivir emociones sin límites. ¡Bienvenido a la experiencia ComicSensitive!
          </p>
        </div>
        <div class="Series">
          <h2>Series</h2>
          <p>
            Explora nuestra variedad de series en ComicSensitive y encuentra el escape perfecto en cada historia. Desde clásicos
            atemporales hasta las últimas novedades, te invitamos a sumergirte en un mundo de entretenimiento y creatividad.
          </p>
        </div>
      </div>
    </main>
  </div>
</body>
</html>





