<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nosotros</title>
</head>

<body>
  <div>
    <main class="holder">
      <div class="historia">
        <h2>Nuestra Historia</h2>
        <p>
          Desde nuestros humildes comienzos, ComicSensitive ha estado comprometido con la pasión por los cómics y las
          novelas gráficas. Fundada por visionarios que aman la narración visual, nuestra historia es la historia de los
          fanáticos que se convirtieron en creadores.
        </p>
        <p>
          A lo largo de los años, hemos crecido y evolucionado, pero nuestra misión sigue siendo la misma: brindar un
          espacio
          en línea donde los amantes de los cómics puedan explorar, disfrutar y conectarse con historias que cautivan la
          imaginación y el corazón.
        </p>
      </div>
      <div class="Fundadores">
        <h2>Nuestros Fundadores</h2>
        <div class="personas">
          <div class="persona">

            <img src="{{alanMoore}}" alt="Alan Moore">
            <h5>Alan Moore</h5>
            <p>
              Alan Moore, uno de los fundadores de ComicSensitive, es conocido por su innovadora contribución al mundo
              de
              los cómics. Sus obras icónicas, como "Watchmen" y "V de Vendetta", han dejado una marca indeleble en la
              industria.
              Con su visión única y provocadora, Moore ha elevado los cómics a nuevas alturas artísticas.
            </p>
          </div>
          <div class="persona">

            <img src="{{frankMiller}}" alt="Frank Miller">
            <h5>Frank Miller</h5>
            <p>
              Frank Miller, otro de los fundadores de ComicSensitive, es un maestro de la narración visual. Sus obras,
              como
              "Sin City" y "The Dark Knight Returns", han redefinido los límites del género. Miller es conocido por su
              estilo
              distintivo y su capacidad para crear mundos oscuros y fascinantes que cautivan a los lectores.
            </p>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>

</html>